@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4B527E;
  overflow: hidden;
}

.title {
  margin-top: 150px;
  color: #fff;
  font-size: 100px;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  transition: 1s ease-in-out;
}

.title.changed {
  font-size: 60px;
  margin-top: 20px;
}

.subtitle {
  color: #fff;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  transition: 1s ease-in-out;
}

.circle {
  width: 250%;
  height: 250%;
  background-color: #E5C3A6;
  border-radius: 50%;
  border: 10px solid #2E4374;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%);
  transition: 1s ease-in-out;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.circle.moved {
  transform: translateX(-50%) translateY(-20%);
}

.btn {
  color: #0d0d0d;
  font-size: 70px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  padding: 80px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.itementer {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  display: flex;
}

.input {
  padding: 5px 10px;
  background-color: transparent;
  color: #0d0d0d;
  border: none;
  border-bottom: 2px solid #4B527E;
  font-size: 20px;
  outline: none;
}

.additem {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #4B527E;
  border: none;
  color: #fff;
  padding: 0px 13px;
}

.additem:hover {
  background-color: green;
}

.items {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 120px;
  color: #0d0d0d;
  font-size: 20px;
  width: 350px;
  word-wrap: break-word;
  list-style: none;
}

.items li {
  margin-bottom: 15px;
}

.items button {
  cursor: pointer;
  font-size: 20px;
  border: none;
  color: #fff;
  background-color: #4B527E;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 20px;
}

.items button:hover {
  background-color: rgb(180, 0, 0);
}

@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .subtitle {
    font-size: 15px;
  }
  .btn {
    font-size: 50px;
  }
  .itementer {
    padding: 40px;
  }
}
